body {
  background-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: sans-serif;
  color: lightgray;
}

.films {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.films__card {
  border: 2px solid lightgray;
  padding: 10px;
}
.films__name {
  margin-bottom: 20px;
}
.films__episode {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 600;
}
.films__descr {
  margin-bottom: 20px;
}

.actors__title {
  color: lightblue;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
