* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

table {
  border-collapse: collapse;
}

td {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  cursor: pointer;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

.white {
  background-color: white;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}
