body {
  background-color: #000000;
}

:root {
  --main-hover-color: #c56464;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: sans-serif;
  color: lightgray;
}

body.modal-open {
  overflow-y: hidden;
}

#root {
  position: relative;
  min-height: 100vh;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
}
.card {
  position: relative;
  border: 2px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  transition: border-color 0.5s, box-shadow 0.5s;
  display: flex;
  flex-direction: column;
}
.card:hover {
  border-color: var(--main-hover-color);
  box-shadow: 0px 0px 20px #ffffff;
}
.card:hover .card__title {
  color: var(--main-hover-color);
}
.card:hover .card__author {
  color: var(--main-hover-color);
}
.card__title {
  font-size: 25px;
  margin-bottom: 15px;
  transition: color 0.5s;
}
input {
  background-color: var(--main-hover-color);
  border: none;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}
.card__text {
  margin-bottom: 10px;
  flex-grow: 1;
}
textarea {
  background-color: var(--main-hover-color);
  width: 100%;
  height: 200px;
  padding: 10px;
  resize: none;
}
.card__author {
  font-weight: 600;
  margin-bottom: 5px;
  transition: color 0.5s;
}
.card__author-email {
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: lowercase;
}
.card__author-email a {
  text-decoration: none;
  transition: color 0.5s;
}
.card__author-email a:hover {
  color: var(--main-hover-color);
}
.btn {
  display: inline-block;
  margin-right: 20px;
  background-color: var(--main-hover-color);
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: transform 0.2s;
}
.btn:hover {
  transform: scale(1.1);
}
.card__save-btn {
  display: none;
}

.add-card-btn {
  position: fixed;
  display: block;
  top: 10px;
  left: 10px;
  z-index: 1;
  display: none;
}

.modal {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal__content {
  /* pointer-events: none; */
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
}
.modal__title {
  margin-bottom: 20px;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__label {
  margin-bottom: 20px;
}
